.card-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .card-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}